<!DOCTYPE html>
<html>
  <head>
    <title>Glossary</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <h1>  <%= link_to image_tag('/assets/logo.png'), root_path %></h1>
        </div>
        <div class="col-md-6">
        <% if logged_in? %>
          Logged in as: <%= current_user.name %> | <%= link_to 'Logout', logout_path %>
        <% else %>
          <%= link_to 'Login', login_path %> | <%= link_to 'Signup', signup_path %>
        <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
